/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235);
}
.inmain :first-child{
	background-color:black;
	color:white
}


.inmain :last-child{
	color:red
}
li{
	background-color:gray;
	width:50%;
	padding:10px
}
li:nth-child(odd){
	background-color:white
}
li:first-child,li:last-child{
	font-size:22px
}
li:nth-last-child(3){
	background-color:pink
}
